/*! body border */
html {
        margin:0px !important;
        overflow-x:hidden;
}

body{
		background-repeat:		repeat,		no-repeat;
		background-size:		auto,		cover;
		background-position: 	top left,	center 0;
		background-attachment:	fixed,		fixed;
        background-color: #F8F8F8;
	   	/* perché non ci siano probelmi laterali*/
	   	overflow-x:hidden;

}

body.is-scroll{
		background-attachment:	scroll,		scroll;
		background-size:		auto,		100% auto;
	}

body::-webkit-scrollbar { 
    display: none; 
}
body::-moz-scrollbar { 
    display: none; 
}
body::-o-scrollbar { 
    display: none; 
}
body::-ms-scrollbar { 
    display: none; 
}

/*
 * BOX HACKING
 */

html {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  }

*,
*:before,
*:after {
  box-sizing: inherit;
  -moz-box-sizing: inherit;
  -webkit-box-sizing: inherit;
}



/* general set textes ****************************/
/*************************************************/

h1{
    font-family: "Inconsolata";
    font-size: 12px;
    letter-spacing: 4px;
    line-height: 20px;
    text-transform: uppercase;
    color: #004290;
    margin-top: 0px;
    margin-bottom: 1px;
}

h2{
    font-family: "Inconsolata";
    font-size: 12px;
    letter-spacing: 3px;
    line-height: 20px;
    text-transform: uppercase;
    color: #004290;
    margin-top: 0px;
    margin-bottom: 1px;
}

h3{
    font-family: "Inconsolata";
    font-size: 18px;
    letter-spacing: 4px;
    line-height: 20px;
    text-transform: uppercase;
    color: #004290;
    margin-top: 0px;
    margin-bottom: 1px;
}

p{
    font-family: "Inconsolata";
    font-size: 12px;

    color: #004290;
}

h5{
    font-family: "Inconsolata";
    font-size: 8px;
    letter-spacing: 2px;
    line-height: 10px;
    color: #004290;
}

mark{
    color:#F8F8F8;
    background-color: #004290;
}

/* box fixed info-container **********************/
/*************************************************/

.sidebarfixed {
    border: 2px solid #004290;
    margin: 20px 20px 20px 20px;
    padding: 20px 20px 20px 20px;
    width: 250px;
    height: 400px;
    position: absolute;
    position: fixed;
    top: 0;
    left: 0; 
    bottom: 0;
    z-index: 999;

    -moz-transition: left 0.5s ease;
    transition: left 0.5s ease;
}

#site-title{
    margin-top: 0px;
    margin-bottom: 50px;
}

ul.menu{
    font-family: "Inconsolata";
    font-size: 12px;
    letter-spacing: 4px;
    line-height: 25px;
    color: #004290;
    list-style: none;
}

#social{
    margin-top: 70px;
}

#social ul li{
    line-height: 20px;
    color: #004290;
    list-style: none;
    display: inline;
    padding-right: 10px;
}

a{
    color: #004290;
}

a:hover{
    text-decoration: underline;
    color: #004290;
}

a:active{
    text-decoration: underline;
    color: #004290;
}



/* toggle menu css *************************/

.sidebar {
    border: 2px solid #004290;
    margin: 20px 20px 20px 20px;
    padding: 20px 20px 20px 20px;
    width: 250px;
    height: 400px;
    position: absolute;
    position: fixed;
    top: 0;
    left: -300px; /* stato 1: fuori campo; */
    bottom: 0;
    z-index: 999;

    -moz-transition: left 0.5s ease;
    transition: left 0.5s ease;
}

.wrapper {
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0px;
    right: 0;
    bottom: 0;
    
    -moz-transition: left 0.5s ease;
    transition: left 0.5s ease;
}

input[type=checkbox] {
   display: none;
}

input:checked ~ .wrapper { 
    left: 300px;
}

input:checked ~ .sidebar { 
    left: 0px; /* stato 2: entra in campo */
}

input:checked ~ label {
    left: 280px;
}

label {
    z-index: 1000;
    position: absolute;
    position: fixed;
    top: 0;
    left: 0px;
    border: 2px solid #004290;
    margin: 20px 20px;
    padding: 10px 10px 7px 10px;

    -moz-transition: left 0.5s ease;
    transition: left 0.5s ease;
}

h1 label{
    font-size: 20px;
}

/*************************************************/
/* HOME ******************************************/

#background_cycler{
    padding:0;
    margin:0;
    width:100%;
    position:absolute;
    background-size: cover; /*responsive???*/
    top:0;
    left:0;
    z-index:-1
}

#background_cycler img{
    position:absolute;
    left:0;top:0;
    width:100%;
    z-index:1
}

#background_cycler img.active{
    z-index:3
}

/*************************************************/
/* PROJECTS **************************************/

#toolbar{
    position: relative;
    width: 100%;
    background-color: #F8F8F8;
}

.btn-group{
    margin: auto;
    margin-top: 1.5em;
    vertical-align: center;
    text-align: center;
    line-height: 1px;
    position: center center;
    top: 0; left: 0; bottom: 0; right: 0;
    position: absolute;
    /*position: fixed;
    z-index: 998;*/
}

/* bottoni filtri. per ora non faccio funzionare */
/*
.bottoniprogetti {
    border: none;
    margin-top: -0.5em;
    border-radius:0px;
    background-color: transparent;
}

.plus{
    border: none;
    border-radius:0px;
    background-color: transparent;
    opacity: 0.5;
}

button.plus:hover{
    opacity: 1;
    color: #004290;
    text-decoration: none;
}

button.plus:active{
    border: none;
    border-radius:0px;
    opacity: 1;
    text-decoration: none;
    color: #004290;
}

button{
    color: #004290;
}

button:hover{
    text-decoration: underline;
    color: #004290;
}

button:active{
    border: none;
    border-radius:0px;
    text-decoration: underline;
    color: #004290;
}

.line{
    background-color: #F8F8F8;
    opacity: 0.85;
    width: 100%;
    height: 13%;
    margin: auto;
    left: 0; right: 0;
    position: center center;
    position: absolute;
    position: fixed;
    z-index: 2;
}
*/

/* pulsantini per gototheend gothethetop */

.goto{
    border: none;
    border-radius:0px;
    background-color: transparent;
    opacity: 0.5!important;
    margin: auto;
    vertical-align: center;
    text-align: center;
    position: center center;
    top: 0; left: 0; bottom: 0; right: 0;
}

a.goto:hover{
    opacity: 1;
    color: #004290;
    text-decoration: none;
}

a.goto:active{
    border: none;
    border-radius:0px;
    opacity: 1;
    text-decoration: none;
    color: #004290;
}

/* Masonry  ********************************/

.masonry { /* Masonry container */
    column-count: 4;
    column-gap: 1em;
}

.item { /* Masonry bricks or child elements */
    background-color: #eee;
    display: inline-block;
    margin: 0 0 1em;
    width: 100%;
}

.wrapper {
    width: 85%!important;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (min-width: 1366px) {
  .wrapper {
    width: 1280px;
  }
}

.masonry {
    margin: 1.5em auto;
    margin-top: 8em;
    padding: 0;
    -moz-column-gap: 1.5em;
    -webkit-column-gap: 1.5em;
    column-gap: 1.5em;
    font-size: .85em;
}

.item {
    display: inline-block;
    background: #fff;
    padding: 0em;
    margin: 0 0 1.5em;

    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-shadow: 2px 2px 4px 0 #ccc;
}

@media only screen and (min-width: 400px) {
    .masonry {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
}

@media only screen and (min-width: 700px) {
    .masonry {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }
}

@media only screen and (min-width: 900px) {
    .masonry {
        -moz-column-count: 4;
        -webkit-column-count: 4;
        column-count: 4;
    }
}

@media only screen and (min-width: 1100px) {
    .masonry {
        -moz-column-count: 4;
        -webkit-column-count: 4;
        column-count: 4;
    }
}

@media only screen and (min-width: 1280px) {
    .wrapper {
        width: 1260px;
    }
}

/*************************************************/
/* PROJECTS **************************************/

.contenitore{
    width: 100%;
    height: 100%;
    margin-top: 8em;
    margin-left: auto;
    margin-right: auto;
}

.menogutter > [class*='col-'] {
    padding-right:3px;
    padding-left:3px;
}


