:root {
  --light-color: #f0f9ff;
  --dark-color: #444444;
  --accent-color: #ee0202;
}

html {
  font-family: 'Suisse Works', serif;
  font-size: 18px;
  color: var(--dark-color);
  background-color: var(--light-color);
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-family: "Suisse Intl'", serif;
}
