:root {
    /* --bg-color: #f0f9ff; */
    --bg-color: #f9f9fa;
    --text-color: #444444;
    --accent-color: #ee0202;

    --bg-color-rgb: 240, 240, 255;
    --text-color-rgb: 68, 68, 68;
    --accent-color-rgb: 238, 2, 2;
}

/* --bg-color: #141414;
--text-color: #f0f9ff;
--accent-color: #ff4848; */

/* @media (prefers-color-scheme: dark) {
    :root {
        --bg-color: #111111;
        --text-color: #f9f9fa;
        --accent-color: #ff4747;
    }
} */

html {
    font-family: 'Suisse Works', serif;
    font-size: 18px;
    color: var(--text-color);
    background-color: var(--bg-color);
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    /* scroll-behavior: smooth; */
}

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1 {
    font-weight: 500;
    font-size: 2.111111111111111rem;
    line-height: 2.7777777777777777rem;
    margin: 0;
    margin-bottom: 1.6666666666666667rem;
}

h2 {
    font-weight: 400;
    font-size: 1.3333333333333333rem;
    line-height: 2rem;
    margin: 0;
    margin-bottom: 2.2222222222222223rem;
}

p {
    font-size: 1rem;
    line-height: 1.6666666666666667rem;
    margin: 0;
}

a {
    color: inherit;
}

a:hover {
    color: var(--accent-color);
}

a:focus {
    outline: dashed 1px var(--accent-color);
}

a:active {
    outline: none;
}

button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    background: none;
    text-align: left;
    padding: 0;
    margin: 0;
    text-align: inherit;
    cursor: pointer;
}

button:focus {
    outline: dashed 1px var(--accent-color);
}

/* button:active {
    outline: dashed 1px var(--accent-color);
} */

button::-moz-focus-inner {
    border: none;
}

@keyframes fade-up {
    from {
        opacity: 0;
        transform: translateY(-40px);
    }
    to {
        opacity: 1;
    }
}

.fade-up-animation-hidden {
    opacity: 0;
    transform: translateY(40px);
}

.fade-up-animation-show {
    animation: fade-up 0.4s forwards;
}
