
/* FONT FACES
-------------------------------------------------- */

@font-face {
    font-family: 'IBM Plex Sans', sans-serif;
    src: <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,400i,500,500i&display=swap" rel="stylesheet">;
    
}


/* GLOBAL STYLES
-------------------------------------------------- */

html {
	background-color:#ffffff;
}

body {
  padding-bottom: 0px;
  color:#222222;
  background-color:#ffffff;
  -webkit-font-smoothing: antialiased;
}

h1  {
	font-family: "IBM Plex Sans", sans-serif;
	font-size:18px;
	line-height:20pt;
	font-weight:500;
	text-decoration:none;
	color: #666666; 
}

h2 {
	font-family: "IBM Plex Sans", sans-serif;
	font-size:36px;
	line-height:40pt;
	font-weight:400;
	text-decoration:none;
	}

h3 {
	font-family: "IBM Plex Sans", sans-serif;
	font-size:30px;
	line-height:32pt;
	font-weight:400;
	text-decoration:none;
	}

@media (min-width: 320px) and (max-width: 480px){
h2 {
	font-family: "IBM Plex Sans", sans-serif;
	font-size:28px;
	line-height:30pt;
	font-weight:400;
	text-decoration:none;
	}
}

p1 {
	font-family: "IBM Plex Sans", sans-serif;
	font-size:17px;
	line-height:26px;
	font-weight:500;
	text-decoration:none;
}

p2 {
	font-family: "IBM Plex Sans", sans-serif;
	font-size:15px;
	line-height:23px;
	font-weight:500;
	text-decoration:none;
}


p3 {
    font-family: "IBM Plex Sans", sans-serif;
    font-size:17px;
    line-height:26px;
    font-style:italic;
    font-weight:500;
    color: #666666; 
    text-decoration:none;

}




div .multicolumn {
    margin-top:20px;
}



@media (min-width:768px) { 

    div .multicolumn {
        -webkit-column-count: 2; /* Chrome, Safari, Opera */
        -moz-column-count: 2; /* Firefox */
        column-count: 2;
        -webkit-column-gap: 20px; /* Chrome, Safari, Opera */
        -moz-column-gap: 20px; /* Firefox */
        column-gap: 20px;
    }
}


a {
	font-style: normal;
	text-decoration:none;
	color: #222222;
	position: relative;
    border: 0;
    border-bottom: 2px solid #bbb;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: rgb(187, 187, 187);
    display: inline-block;
    line-height: .9;
    transition: border-bottom-color .3s;
}
	
}
/* unvisited link */
a:link {
	font-style: normal;
	text-decoration:none;
    color: #222222;
    position: relative;
    border: 0;
    border-bottom: 2px solid #bbb;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: rgb(187, 187, 187);
    display: inline-block;
    line-height: .9;
    transition: border-bottom-color .3s;
}

/* visited link */
a:visited {
	font-style: normal;
	text-decoration:none;
    color: #222222;
    position: relative;
    border: 0;
    border-bottom: 2px solid #bbb;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: rgb(187, 187, 187);
    display: inline-block;
    line-height: .9;
    transition: border-bottom-color .3s;

}
/* selected link */
a:active {
	font-style: normal;
	text-decoration:none;	
    color: #222222;
    position: relative;
    border: 0;
    border-bottom: 2px solid #bbb;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: rgb(187, 187, 187);
    display: inline-block;
    line-height: .9;
    transition: border-bottom-color .3s;
}
/* mouse over link */
a:hover{
	font-style: normal;
	text-decoration:none;
	color: #222222;
	position: relative;
    border: 0;
    border-bottom: 2px solid #666666;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: rgb(102, 102, 102);
    display: inline-block;
    line-height: .9;
    transition: border-bottom-color .3s;
}



ul
{
list-style-type: none;
padding-left:0px;
margin-bottom:30px;
}

li h1 {
	margin-bottom:-10px;
}

li {
	margin-bottom:80px;
}

li.teaser{
	margin-bottom:-50px;
	transition: 0.4s ease;
    -webkit-transition: .4s ease;
    -moz-transition: .4s ease;
    -o-transition: .4s ease;
    -ms-transition: .4s ease; 
}

li.teaser:hover {
	margin-bottom:30px;
}

/* IMAGES CLASSES
-------------------------------------------------- */

.padding-0 {
    padding: 0;
}

img{
	width: 100%;
}


/* funky stuff
-------------------------------------------------- */


::-moz-selection { /* Code for Firefox */
    color: white;
    background: black;
}

::selection {
    color: white; 
    background: black;
}
